main {
  min-height: 80vh;
}

h3 {
  padding: 0.8rem 0;
}

a {
  text-decoration: none;
}

.BooksLoading {
  text-align: center;
  color: white;
}

.BooksError {
  text-align: center;
  color: red;
}
